<view class="products-detailes-container">
      <text>{{product.name}}</text>
      <image class="img" src="{{product.img}}"></image>
      <text>Price : {{product.price}}</text>
      <text>{{product.description}}</text>
</view>
